* {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0px;
}

header {
    background-color: #FFF8F3;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin-inline: auto;
    padding-top: 30px;
}

.top-bar-left {
    font-weight: 800;
}

.mary {
    color: #FD6E0A;
}

nav {
    display: flex;
    align-items: center;
    /* width: 390px; */
    gap: 60px;
}

a {
    text-decoration: none;
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    border: none;
    color: white;
    padding-block: 12px;
    padding-inline: 24px;
    font-weight: 700;
    border-radius: 5px;

}

.banner {
    display: flex;

}

.devloper-img {
    margin-left: 40px;
    margin-top: -80px;
}

.banner-middle {
    margin-top: 100px;
    width: 585px;
    margin-left: 30px;
}

h3 {
    font-size: 28px;
}

h4 {
    margin-block: 0px;
}

p {
    color: #757575;
    margin-block: 10px;
}

.btn-secondary {
    background-color: transparent;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    padding-block: 11px;
    padding-inline: 24px;
    font-weight: 700;
    border-radius: 5px;
}

.hardy {
    background-image: url("/images/header_bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    max-width: 736px;
}

.hardy-img {
    width: 470px;
    margin-left: 230px;
    margin-bottom: -4px;
}

.fa-solid {
    margin-right: 8px;
}

/* main section css */
main {
    margin-top: 100px;
    max-width: 1140px;
    /* width: 80%; */
    margin-inline: auto;
}

.about-me {
    background-color: #FFF8F3;
    padding: 150px;
    text-align: center;
}
.about-top{
    margin-top: 80px; 
    padding-inline: 160px;
}
.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-div {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    /* margin-bottom: 100px; */

}

.card {
    padding: 30px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.057);
    text-align: left;
    border-radius: 5px;
}

.card h4 {
    margin-block: 25px;
}

.card p {
    line-height: 1.8;
}

.flex {
    text-align: start;
    display: flex;
    gap: 30px;
}

.flex h4 {
    font-size: 24px;
}

.border-bottom {
    border-bottom: 1px solid #757575;
    margin-top: 25px;
}
footer{
    background-color: #FFF8F3;
    margin-top: 60px;

}
.d-flex{
    display: flex;
    width: 1140px;
    margin-inline: auto;
    gap: 150px;
    padding-block: 100px;
}
input, textarea{
    width: 461px;
    height: 64px;
    font-size: 18px;
    padding-left: 20px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: none;
}
textarea{
    height: 180px;
    padding-top: 12px;
    display: block;
}
.btn-submit{
    padding: 16px 40px;
    font-size: 17px;
}
.d-none{
    display: none;
}
@media screen and (max-width: 576px) {
    main{
        margin-inline: 16px;
    }
    .about-me{
        padding: 20px;
        padding-bottom: 60px;
    }
    .banner, .card-div, .flex{
        flex-direction: column;
    }
    .about-top{
        padding-inline: 0px;
    }
    .devloper-img{
        display: none;
    }
    .hardy{
        background-image: none;
    }
    .hardy-img {
        width: 100%;
        margin-top: 20px;
        margin-left: 0px;
        margin-bottom: -4px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-middle {
        margin-top: 10px;
        width: 100%;
        margin-left: 0px;
       
        margin-bottom: 60px;
    }
    
}